#wrapper {

    width: 1000px;

    margin: auto;

}

.logo-img {

    width: 300px;

    display: block;

    margin: auto;

}

.ride-img {

    width: 220px;

}

fieldset {
    border: 1px solid #999;
    padding: 10px;
    margin-bottom: 15px;
}

legend {
    padding: 0 6px;
    width: auto;
    font-weight: bold;
}
